* {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  canvas {
    filter: brightness(115%);
    box-shadow: 0.2em 0.2em 2em #0008;
    border: none;
    outline: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -999;
  }
}

.TitleCandC {
  text-align: center;
  z-index: 999;
  width: 38%;
  font-size: 70px;
  font-weight: 700;
  font-family: "DRAGON HUNTER", sans-serif !important;
  color: #d09306 !important;
  text-shadow: -1 -1 0 black, 1 -1 0 black, -1 1 0 black, 1 1 0 black;
}

.TitleCandC::first-line {
  color: #cc372a; /* Color para la primera letra */
  text-shadow: -1 -1 0 black, 1 -1 0 black, -1 1 0 black, 1 1 0 black;
}

.container-charger {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tip-top-charger {
  position: absolute;
  display: flex;
  top: 0;
  right: 10%;
  justify-content: center;
  align-items: center;
  width: 5%;
  height: 20%;
  background: #cc372a;
  border-end-start-radius: 16px;
  border-end-end-radius: 16px;
}

.tip-top-charger .LogoCaC {
  transform: translate(-10%);
  width: 90%;
}

.charger {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.ContainerColab {
  display: flex; /* Activa flexbox */
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Alinea los elementos verticalmente */
  gap: 25px; /* Espacio entre elementos */
}

.Colab {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #fff;

  font-family: "DRAGON HUNTER", sans-serif !important;
}

.Colab p {
  box-shadow: 2em 2em 2em #0008;
  text-shadow: -1 -1 0 black, 1 -1 0 black, -1 1 0 black, 1 1 0 black;
}

.LogoColab {
  width: 3%;
  height: 3%;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.LogoColab:hover {
  opacity: 0.2;
}

.text_book {
  color: #fff;
  transform: translateX(150%);
  width: 100%;
  font-size: 11px;
  font-weight: 700;
  rotate: 90deg;
  text-align: center;
}

/*Book Charger*/

.book-charger {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Necesario para posicionar la imagen correctamente */
  overflow: hidden; /* Para evitar que la imagen se desborde */
}

.book-charger .imgSizeBookCharger {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -99;
}

.book-charger::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.8) 70%
  );
  z-index: 1;
  animation: glow 5s infinite alternate ease-in-out;
}

@keyframes glow {
  0% {
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0.8) 70%
    );
  }
  100% {
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0.8) 70%
    );
  }
}

.ContainerTextbookCharger {
  text-align: center;
  justify-items: center;
  align-items: center;
}

.TitleTextBookCharger {
  z-index: 999;
  width: 80%;
  font-size: 70px;
  font-weight: 700;
  font-family: "DRAGON HUNTER", sans-serif !important;
  color: #d09306 !important;
  text-shadow: -1 -1 0 black, 1 -1 0 black, -1 1 0 black, 1 1 0 black;
}

.TitleTextBookCharger::first-line {
  color: #cc372a;
  text-shadow: -1 -1 0 black, 1 -1 0 black, -1 1 0 black, 1 1 0 black;
}

.TextBookCharger {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #fff;

  font-family: "DRAGON HUNTER", sans-serif !important;
}

.TextBookCharger p {
  box-shadow: 2em 2em 2em #0008;
  text-shadow: -1 -1 0 black, 1 -1 0 black, -1 1 0 black, 1 1 0 black;
}

.loader_Book {
  margin-top: 5%;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  box-sizing: border-box;
  border-top: 8px solid #fff;
  border-left: 8px solid #fff;
  border-right: 8px solid #ff00;
  animation: loader 0.7s infinite linear;
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}
